body {
    background: #222;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    padding: 40px;
}

input, button {
    padding: 10px;
    margin-top: 10px;
    background: #333;
    color: #fff;
    border: 1px solid #555;
}


p {
    margin-top: 20px;
    font-weight: bold;
}
